/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: white;
	border-radius: 3px;
	line-height: 1;
	padding: .6rem 1rem .4rem;
	&:hover {
		border-color: $color__pink;
	}

	&:active,
	&:focus {
		border-color:$color__navy;
	}
}

/* Loading button*/
.load-previous {
    border-top: 1px solid #eee;
	padding-top: 2em;
	display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.load-previous .nav-subtitle {
    margin-bottom: 2em;
}

.load-previous,
.load-previous .nav-previous {
	margin:0 auto;
}


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #440c74;
	width:50%;
	height: 100%;
	outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
}
