// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 20) * 1px;
	font-size: $sizeValue * 1.25rem;
}

// Center block
@mixin center-block {
	display: block;
  margin: 0 2rem;
}

//basic responsivness
@mixin desktop {
    @media (min-width: $desktop__width) {
      @content;
    }
  }

  @mixin tablet {
    @media (min-width: $tablet__width) {
      @content;
    }
  }
