/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	text-decoration: none;
	transition: all .2s ease-in-out;

	&:visited {
		color: $color__link-visited;
	}
	&:hover{
		transform: scale(1.2);
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
		transform: scale(1.2);
	}
}

/* Menus */
.site-header{
	width:100%;
	display: flex;
	position: fixed;
	margin-top:2.5rem;
	@include tablet{
		margin-top:1.5rem;
	}
}
.main-navigation {
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;

			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}
}
//logo
.site-branding{
	order:3;
	margin:0 2rem;
}

/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }
.main-navigation.toggled ul {
	display: flex;
	flex-direction:column;
// 	position: initial;
}

@media screen and (min-width: 500px) {
	.menu-toggle {
		display: none;
		order:3;
	}
	.main-navigation ul {
		display: flex;
		z-index: 2;
		padding: 0.5rem;
		li{
			    padding: 0.5rem;
		}
	}
}

.main-navigation.toggled {
	position: absolute;
    right: 0;
	width: 100%;
	background: white;
	z-index: 10;
	margin-top:2.5rem;
		@include tablet {
			width: 25%;
		}
		li {
// 			border-bottom: 1px solid $color__navy;
			padding: 1rem;
			text-align:center;
		}
		.sub-menu {
			width: 100%;
				a{
					font-weight: 300;
					padding-bottom: .25rem;
				}
		}
}


// @media screen and (min-width: 768px) {
	
// 	.main-navigation ul {
// 		//this is for css of primary menu
// 		display: none;
// 		opacity:1;
// 		height: auto;
// 		overflow: auto;
// 		position:static;


// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
