/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.error404, .page-template-default.page, .portfolioitem-template-default, .post-type-archive-portfolio-item, .single-portfolio-item{
    .site-content{
      padding-top: 3rem;
    }

    margin: 0 auto;
  }


  /* Front page */
.home.page-template-default.page{
  .site-content{
    padding-top: 0;
  }
    .hentry{
        margin: 0;
    }
    .front-page-container{
      display:block;
        @include desktop{
          min-height: 20rem;
          display: grid;
          grid-template-columns: 40% 30% 30%;
        }
      .front-page-item{
        padding:5%;
        display:flex;
        flex-direction: column;
          &:first-of-type{
            background-color: #003372;
            color: #ffff;
          }
          &:nth-of-type(2){
            background-color: #71e2dc;
            color: #357572;
          }
          &:nth-of-type(3){
            background-color: #f7989c;
            color: #ad5358;
          }
          h1{
            font-size: 50px;
            text-decoration: underline;
            letter-spacing: 3px;
              @include tablet{
                text-align:right;
              }
          }
          p{
            margin-top: auto;
            text-align:right;
          }
      }
    }
    .portfolio-display{
      h1{
          text-decoration: none;
          color:$color__pink;
          font-size:3rem;
        @include tablet{
          text-align: left;

        }
      }
      h2{
        margin-top: 0;
        a{
          color: rgb(22, 115, 110);
          font-size:1.2rem;
          &:hover{
            transform: scale(1.2);
            color:$color__link-hover;
          }
        }
      }
      .portfolio-grid-item{
        display: block;
        margin: 0 auto;
          @include tablet{
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            // justify-content: center;
          }
        &:nth-of-type(even){
          @include tablet{
            flex-direction: row-reverse;
            text-align: right;
            // background-color: rgba(22, 115, 110, 0.05);
          }
        }
        &:nth-of-type(odd){
          @include tablet{
             text-align: left;
          }
        }
        .portfolio-item-thumbnail{
          height: 100%;
          width: 300px;
          overflow: hidden;
          border: 3px solid;
          margin: 0 auto;
            @include tablet{
              margin: 0;
            }
            .thumbnail-header{
                @include tablet{
                    width: 297px;
                    height: 1rem;
                    border-bottom: 3px solid;
                    border-right: 3px solid;
                    z-index: 1;
                    background: white;
                    position: absolute;
                    line-height: 1rem;
                      p{
                        line-height: 1rem;
                        margin: 0;
                        padding: 0;
                      }
                }

            }
            .thumbnail-body{
              height: 400px;
              img{
                //I want to have a light moving effect
                height: auto;
                animation: slideLayout 10s infinite;
                margin-top: 2rem;
              }
            }
        }
        .portfolio-item-info{
          height: 50vh;
          padding: 0 1rem;
//           max-width:300px;
          @include tablet{
            height: auto;
            display: flex;
            flex-direction: column;
//             justify-content: space-between;
            padding:1rem 2rem;
          }
          .portfolio-item-button{
            text-transform:uppercase;
          }

        }
      }
      @keyframes slideLayout {
        50% {
          transform: translateY(-350px);
        }
      }
    }//end of .portfolio-display
}// end of .home


/*Single portfolio item*/
.portfolio-item-template-default{
  display: block;
  @include tablet{
    img.portfolio-item-cfs-img{
    max-width: 50%;
    }
  }
}

/*Portfolio portfolio-item-archive*/
.post-type-archive-portfolio-item{
  background-color: rgba(22, 115, 110, 0.05);
}

.portfolio-text{
margin: 0 auto;
font-size: 0.8rem;

}
.post-type-archive-portfolio-item{
  h2 a{
    color: rgb(22, 115, 110);
    font-family: $font__main;
    &:hover{
      transform: scale(1.2);
      color:$color__link-hover;
}
    }
  }
.portfolio-items-grid{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr;
  grid-gap: 1rem;
  text-align: left;
  @include tablet{
    max-width: 800px;
  }
  .portfolio-grid-item{
    display: block;
    // max-width: 800px;
    @include tablet{
    display: flex;
    justify-content: space-evenly;
  }
  &:nth-of-type(even){
    flex-direction: row-reverse;
    text-align: right;
    // background-color: rgba(22, 115, 110, 0.05);
  }
  .portfolio-item-thumbnail{
    object-fit: contain;
    // width: 300px;
    height: auto;
    overflow: hidden;
   a img{
     //I want to have a light moving effect
    animation: slideLayout 5s infinite;
   }
   @include desktop{
    max-width: 300px;
   }
  }
  .portfolio-item-info{
    padding: 0 1rem;
    max-width:300px;
  }
  .portfolio-item-button{
    // padding: 2%;
    // border:1px solid #71e2dc;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover{
      transform: scale(1.2);
    }

  }
}
}


