/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.error404, .page-template-default.page, .portfolioitem-template-default, .post-type-archive-portfolio-item, .single-portfolio-item{
    .site-content{
      padding-top: 3rem;
    }

    margin: 0 auto;
  }


  /* Front page */
.home.page-template-default.page{
  .site-content{
    padding-top: 0;
  }
    // .entry-content, .entry-summary, .page-content {
    //     margin: 0 auto;
    // }
    .hentry{
        margin: 0;
    }
    .front-page-container{
      display:block;
        @include desktop{
          min-height: 50vh;
          display: grid;
          grid-template-columns: 50% 25% 25%;
        }
      .front-page-item{
        padding:5%;
        display:flex;
        flex-direction: column;
          &:first-of-type{
            background-color: #003372;
            color: #ffff;
          }
          &:nth-of-type(2){
            background-color: #71e2dc;
            color: #357572;
          }
          &:nth-of-type(3){
            background-color: #f7989c;
            color: #ad5358;
          }
          h1{
            font-size: 50px;
            text-decoration: underline;
            letter-spacing: 3px;
              @include tablet{
                text-align:right;
              }
              @include desktop{
                 transform: translateY(300px);
              }
          }
          p{
            margin-top: auto;
            text-align:right;
          }
      }
    }
}// end of .home


/*Single portfolio item*/
.portfolio-item-template-default{
  display: block;
  @include tablet{
    img.portfolio-item-cfs-img{
    max-width: 50%;
    }
  }
}

/*Portfolio portfolio-item-archive*/
.post-type-archive-portfolio-item{
  background-color: rgba(22, 115, 110, 0.05);
}

.portfolio-text{
margin: 0 auto;
font-size: 0.8rem;
width: 300px;

}
.post-type-archive-portfolio-item{
  h2 a{
    color: rgb(22, 115, 110);
    font-family: $font__main;
    &:hover{
      transform: scale(1.2);
      color:$color__link-hover;
}
    }
  }
.portfolio-items-grid{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr;
  grid-gap: 1rem;
  text-align: left;
  @include tablet{
    max-width: 800px;
  }
  .portfolio-grid-item{
    display: block;
    // max-width: 800px;
    @include tablet{
    display: flex;
    justify-content: space-evenly;
  }
  &:nth-of-type(even){
    flex-direction: row-reverse;
    text-align: right;
    // background-color: rgba(22, 115, 110, 0.05);
  }
  .portfolio-item-thumbnail{
    object-fit: contain;
    // width: 300px;
    height: auto;
    overflow: hidden;
   a img{
     //I want to have a light moving effect
    animation: slideLayout 5s infinite;
   }
   @include desktop{
    max-width: 300px;
   }
  }
  .portfolio-item-info{
    padding: 0 1rem;
    max-width:300px;
  }
  .portfolio-item-button{
    // padding: 2%;
    // border:1px solid #71e2dc;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover{
      transform: scale(1.2);
    }

  }
}
}


