.works {
    font-size: 19.552px;
    font-family: "Prata";
    color: rgb(65, 204, 196);
    line-height: 1.2;
    text-align: right;
    -moz-transform: matrix( 10.2289989483306,0,0,10.2289989483306,0,0);
    -webkit-transform: matrix( 10.2289989483306,0,0,10.2289989483306,0,0);
    -ms-transform: matrix( 10.2289989483306,0,0,10.2289989483306,0,0);
    position: absolute;
    left: 832.399px;
    top: 1856.269px;
    z-index: 68;
  }
  